body {
  background-color: #E9EBEE;
}

.app-wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.app-body {
  display: flex;
}

.app-body nav {
  flex-basis: 180px;
}

.app-body .mainContent {
  flex-basis: 100%;
}

.clear-list-styles {
  margin: 0;
  padding: 0;
  list-style: none;
}
